<h1 class="mt-4">Dashboard <i class="fas fa-film"></i></h1>
<p class="lead mb-3">Welcome:
    <%= email %>
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <form action="/movies" method="POST">
                <div class="form-group">
                    <label for="movie">Type in a movie title to add to my database</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Enter a title" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <br>
            <p>or</p>
            <br>
            <form action="/comments" method="POST">
                <div class="form-group">
                    <label for="movie">Type in a movie ID to add your comment...</label>
                    <input type="text" id="movieId" name="movieId" class="form-control" placeholder="Enter an ID" />
                    <label for="movie">... and type your comment</label>
                    <input type="text" id="content" name="content" class="form-control" placeholder="Enter your text" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <%- include("guidelines") -%>
        </div>
    </div>
</div>