<p class="lead mt-4">
    Send data requests for movies using: <a href="/movies">http://localhost:3000/movies</a>
</p>
<p class="lead mt-4">
    Send data requests for comments using: <a href="/comments">http://localhost:3000/comments</a>
</p>