<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-3"><i class="fas fa-film"></i></h1>
      <h2>Movie Database</h2>
      <span>powered by</span><a href="http://www.omdbapi.com/">OMDb API</a>
      <%- include("guidelines") -%>
      <p class="lead mt-4">If you want to post movies or comments, sign up or login</p>
      <a href="/users/signup" class="btn btn-primary btn-block mb-2">Sign Up</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Log In</a>
      <span class="mt-3">&copyPaweł Hińcza 2020</span>
    </div>
  </div>
</div>