<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center mb-3">
            <p class="lead mb-3">
                <%= message %> <a href="/dashboard">Back</a>
            </p>
            <%- include("guidelines") -%>
        </div>
    </div>
</div>