<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <p class="lead mb-3">
                <%= message %> <a href="/dashboard">Back</a>
            </p>
            <p class="lead mt-4">
                All movies in the database can be fetched using the following url <a href="/movies">http://localhost:3000/movies</a>
            </p>
            <p class="lead mt-4">
                All comments are under: <a href="/comments">http://localhost:3000/comments</a>
            </p>
        </div>
    </div>
</div>